{
    "presets": [
        "es2015",
        "stage-1"
    ],
    "plugins": [
        [
            "module-alias",
            [
                { "src": "./src/utils", "expose": "utils" },
                { "src": "./src/delegate", "expose": "delegate"}
            ]
        ]
  ]
}
